<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="BoutiqueWeb">
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/.apt_generated"/>
        <property name="context-root" value="BoutiqueWeb"/>
        <property name="java-output-path" value="/BoutiqueWeb/src/main/webapp/WEB-INF/classes"/>
    </wb-module>
</project-modules>
